.DS_Store
node_modules/
.env
.venv
.gitsecret/keys/random_seed
!*.secret
bun.lockb
daisyui_components/
package-lock.json
.parcel-cache/
dist/

assets/PO/*.pdf
assets/PO/*.html
assets/volantino_ete_1.png
assets/volantino_ete_1.pdf
assets/customers-list.csv
assets/customers-list-update.csv
