.DS_Store
examples/doc*.pdf
node_modules/
.env
.venv
.gitsecret/keys/random_seed
!*.secret

docs/PO/*.pdf
docs/volantino_ete_1.pdf
docs/volantino_ete_1.png
docs/customers-list.csv
docs/customers-list-update.csv
docs/PO/PO_63466.html
docs/PO/PO_61466.html
