.DS_Store
examples/doc*.pdf
node_modules/
.env
.venv
.gitsecret/keys/random_seed
!*.secret

docs/PO/*.pdf
docs/volantino_ete_1.pdf
docs/volantino_ete_1.png
docs/customers-list.csv
docs/customers-list-update.csv
docs/PO/PO_63466.html
docs/PO/PO_61466.html
__pycache__/

bun.lockb
daisyui_components/accordion/accordion.md
daisyui_components/alert/alert.md
daisyui_components/artboard/artboard.md
daisyui_components/avatar/avatar.md
daisyui_components/badge/badge.md
daisyui_components/bottom navigation/bottom navigation.md
daisyui_components/breadcrumbs/breadcrumbs.md
daisyui_components/browser mockup/browser mockup.md
daisyui_components/button/button.md
daisyui_components/card/card.md
daisyui_components/carousel/carousel.md
daisyui_components/chat bubble/chat bubble.md
daisyui_components/checkbox/checkbox.md
daisyui_components/code mockup/code mockup.md
daisyui_components/collapse/collapse.md
daisyui_components/countdown/countdown.md
daisyui_components/diff/diff.md
daisyui_components/divider/divider.md
daisyui_components/drawer/drawer.md
daisyui_components/dropdown/dropdown.md
daisyui_components/file input/file input.md
daisyui_components/footer/footer.md
daisyui_components/hero/hero.md
daisyui_components/indicator/indicator.md
daisyui_components/join/join.md
daisyui_components/kbd/kbd.md
daisyui_components/link/link.md
daisyui_components/loading/loading.md
daisyui_components/mask/mask.md
daisyui_components/menu/menu.md
daisyui_components/modal/modal.md
daisyui_components/navbar/navbar.md
daisyui_components/pagination/pagination.md
daisyui_components/phone mockup/phone mockup.md
daisyui_components/progress/progress.md
daisyui_components/radial progress/radial progress.md
daisyui_components/radio/radio.md
daisyui_components/range slider/range slider.md
daisyui_components/rating/rating.md
daisyui_components/select/select.md
daisyui_components/skeleton/skeleton.md
daisyui_components/stack/stack.md
daisyui_components/stat/stat.md
daisyui_components/steps/steps.md
daisyui_components/swap/swap.md
daisyui_components/table/table.md
daisyui_components/tabs/tabs.md
daisyui_components/text input/text input.md
daisyui_components/textarea/textarea.md
daisyui_components/theme controller/theme controller.md
daisyui_components/timeline/timeline.md
daisyui_components/toast/toast.md
daisyui_components/toggle/toggle.md
daisyui_components/tooltip/tooltip.md
daisyui_components/window mockup/window mockup.md
