langchain
langchain-core
langchain-community
langchain-experimental
langchain-openai
langsmith
langchainhub
# openai
pdfminer.six==20221105
kor
google-api-python-client
#google-search-tools
#pandas
#requests 
beautifulsoup4
PyMuPDF 
Pillow
gradio